// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$font-main: "Montserrat";

// Цвета фона
$bg-dark: #141414;
$bg-light: #ECF1F2;
$bg-main: #E8AA31;

// Цвета текста
$color-dark: #141414;
$color-light: #ECF1F2;
$color-main: #E8AA31;
$color-muted: #ABABAB;